<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <connectionStrings>
      <add name ="sqlConnection" connectionString="Data Source=mssql2012.netregistry.net;Initial Catalog=evt_sebe_uda_com;User ID=evt1000;Password=dj9wBOaW9T"/>
    </connectionStrings>
</configuration>
